body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1280px;
}

.Not-only {
    height: 460px;
    width: 322px;
}

div.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 350px;
    background-image: url('assets/img/footer-gradient-background.png');
    background-size: cover;
    background-position: center;
}

header {
    height: 908px;
    background-image: url('assets/img/start-screen-gradient-background.jpg');
    background-size: cover;
    background-position: center;
}

span.title {
    color: #F1CDB3;
}

span.subtitle {
    color: #FFFFFF;
}

div.logo {
    width: 184px;
    height: 60px;
}

section.About {
    display: flex;
}

div.not-only {
    display: flex;
}

ul {
    list-style-type: none;
}

ul.nav-list {
    display: flex;
}

.nav-link {
    color: #FAFAFA;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.About {
    height: 588px;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
}

.About-text {
    height: 380px;
    width: 430px;
}

.Our-Friends {
    height: 877px;
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
}

.Help {
    height: 611px;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
}

.Introduction {
    height: 462px;
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
}