@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/arial/arial-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/georgia/georgia-regular.ttf') format('truetype');
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    cursor: url('../assets/icon/icon-normal.png'), auto;
}

button.disables {
    cursor: url('../assets/icon/icon-disable.png'), auto;
}

.pets-item:hover .learn-more {
    background: rgb(253, 220, 196);
}

.pet-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vw;
    row-gap: 1vw;
}

.pets-item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background: rgb(250, 250, 250);
    gap: 30px;
}

.pets-item:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item > img {
    width: 270px;
    height: 270px;
}

.name-pet {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;
}

button.on {
    background: rgb(241, 205, 179);
}

.learn-more {
    box-sizing: border-box;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 45px 15px 45px;
    width: 187px;
    height: 52px;
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
    white-space: nowrap;
    background: none;
}

.friends-main {
    padding: 6vw 3vw 8vw 3vw;
    background-color: rgb(246, 246, 246);
    background-size: cover;
    background-position: center;
}

.friend-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    gap: 70px;
}

.friend-nav {
    display: flex;
    gap: 20px;
    margin-top: -10px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 19px 23px 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
    background: none;
    /* h4 */
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
}

.nav-item:hover {
    background: rgb(253, 220, 196);
}

.nav-item:active {
    background: rgb(241, 205, 179);
}

.off {
    border: 2px solid rgb(205, 205, 205);
    color: rgb(205, 205, 205);
    background: none;
}

.off:hover {
    background: none;
}

.title-h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    letter-spacing: 0.06em;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
}

.friends-title {
    margin-top: -35px;
}

.cursor {
    cursor: url('../assets/icon/icon-hover.png'), auto;
    transition: background 1s ease;
}

@media (max-width: 768px) {
    .friend-box {
        max-width: 700px;
    }
}

@media (max-width: 320px) {
    .friend-box {
        max-width: 300px;
    }
}