@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/arial-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgia-regular.ttf') format('truetype');
}

.background-header {
    background-image: url('../img/start-screen-gradient-background.jpg');
    background-size: cover;
    background-position: center;
}

.header-box {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 30px 40px 0 40px;
}

.header-main {
    display: flex;
    max-width: 1200px;
    white-space: nowrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style-type: none;
}

.hamburger-menu {
    display: none;
}


.hamburger {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: rgb(241, 205, 179);
}

html {
    scroll-behavior: smooth;
    cursor: url('../icon/icon-normal.png'), auto;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body.block {
    overflow: hidden;
}

.Not-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
    margin-bottom: 75px;
}

div.not-only {
    display: flex;
    gap: 42px;
    max-width: 1200px;
}

.about > img {
    width: 300px;
    height: 408px;
}

.about-s {
    display: flex;
    max-width: 1200px;
    gap: clamp(50px, 10vw, 120px);
}

.about-d {
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;
}

.About-text > h3 {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    max-width: 430px;
}

.title {
    color: rgb(241, 205, 179);
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-align: left;
    white-space: nowrap;
    margin: 0;
}

.subtitle {
    color: rgb(255, 255, 255);
    font-family: Arial, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.10em;
    text-align: left;
    margin-top: 10px;
}

.nav-link {
    color: rgb(205, 205, 205);
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;

}

.nav-link:hover {
    color: rgb(250, 250, 250);
    font-family: Arial, serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;

}

.nav-link:active {
    text-decoration-color: rgb(241, 205, 179);
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: rgb(250, 250, 250);
    font-family: Arial, serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
}


.box-our-friends {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.main-our-friends {
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 80px 40px 100px 40px;
}

.help {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.help-main {
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    padding: 80px 40px 100px 40px;
    display: flex;
    justify-content: center;
}

.Introduction {
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
}

.friends {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1px, 4.7vw, 53px);
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    row-gap: 55px;
}

.help-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    gap: 30px;
}

.help-item > h4 {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;
}

.help-item > img {
    width: 60px;
    height: 60px;
}

.help-title {
    text-align: center;
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0;
    max-width: 380px;
}

.About-text > p {
    font-size: 15px;
    font-family: Arial, serif;
    color: #4C4C4C;
}

.in-addition-s {
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
    padding: 80px 182px 100px 183px;
}

.in-addition-d {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;

}


.donation-dog {
    width: clamp(300px, 40vw, 505px);
}


div.text-donat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 430px;
    gap: 20px;
}

.dark-m {
    color: rgb(178, 178, 178);
    font-family: Arial, serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    margin: 0;
    white-space: wrap;
}

.debt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px 10px 15px;
}

.background-debt:hover {
    background: rgb(253, 220, 196);
}

.background-debt {
    background: rgb(241, 205, 179);
    border-radius: 9px;
}

.card {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: left;
    white-space: nowrap;
}

.bank {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0;
}

.you-can {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0;
}

.about-cozy {
    padding: 0;
    margin: 0;
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 370px;
}

.start-puppy {
    align-self: flex-end;
    width: clamp(450px, 55vw, 698px);
}

.not-only-h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    max-width: 310px;
}

.not-only-p {
    color: rgb(205, 205, 205);
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
}

.make-a-friend.button {
    background: rgb(241, 205, 179);
}

.make-a-friend {
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    max-width: 117px;
    white-space: nowrap;
}

.about-pets {
    object-fit: contain;
    width: 300px;
}

.first-p {
    margin: 0;
    color: rgb(76, 76, 76);
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
}

.second-p {
    margin: 0;
    color: rgb(76, 76, 76);
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
}

.our-title {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 500px;
    margin: 0;

}

.our-button {
    padding: 15px 45px;
    border-radius: 100px;
    background: rgb(241, 205, 179);
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
    border: none;
    text-decoration: none;
}

.our-button.button {
    background: rgb(241, 205, 179);
}

.arrow-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    width: 52px;
    height: 52px;
    padding: 23px 19px 23px 19px;
}

.arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* color-primary */
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    width: 52px;
    height: 52px;
    padding: 23px 19px 23px 19px;
    transform: rotate(180.00deg);

}

.learn-more {
    margin: 0 41.5px 30px 42px;
    box-sizing: border-box;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    padding: 15px 45px;
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
    background: none;
    white-space: nowrap;
}

.button {
    background: none;
    border: 2px solid rgb(241, 205, 179);
}

.button:hover {
    background: rgb(253, 220, 196);
}


.pets-item {
    border-radius: 9px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    max-width: 270px;
    max-height: 435px;
}

.icon-item-pets {
    margin: 0
}

.logo:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item:hover .learn-more {
    background: rgb(253, 220, 196);
}

.pet-card {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 8vw, 90px);
}

.name-pet {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-link-off {
    color: rgb(250, 250, 250);
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    text-align: left;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(241, 205, 179);
    text-underline-offset: 5px;
}

.logo-link {
    text-decoration: none;
}

.cursor {
    cursor: url('../icon/icon-hover.png'), auto;
    transition: background 1s ease;
}

.xz {
    gap: 90px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

#popup-overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    position: relative;
    border-radius: 9px;
}

.popup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    width: 900px;
    height: 500px;
    border-radius: 9px;
}

.popup-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 350px;
    color: rgb(0, 0, 0);
    font-family: Georgia, serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 50px 20px 88px 29px;

}

#popup-name {
    font-size: 35px;
    line-height: 130%;
    margin: 0 0 10px 0;
}

#popup-breed {
    font-size: 20px;
    line-height: 115%;
    margin: 0;
}

#popup-description {
    font-size: 15px;
    line-height: 110%;
    margin: 40px 0;
}

.close-btn {
    position: absolute;
    right: -40px;
    top: -55px;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {

}

.popup-info > ul > li::marker {
    color: rgb(241, 205, 179);
}

.popup-info > ul > li {
    font-size: 15px;
    line-height: 110%;
}

.popup-info > ul {
    margin: 0;
}

.popup-img {
    width: 500px;
}


@media (max-width: 768px) {

    .hamburger.active {
        transform: rotate(90deg);
    }

    .main-our-friends {
        padding: 80px 30px 100px 30px;
    }

    .xz {
        gap: 60px;
    }

    .friends {
        gap: 12px;
    }

    .header-box {
        padding: 30px 30px 0 30px;
        gap: 60px;
    }

    .about-s {
        max-width: 437px;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .pet-card .pets-item:nth-child(3) {
        display: none;
    }

    .about-pets {
        order: 1;
        width: clamp(200px, 50vw, 300px);
    }

    div.not-only {
        max-width: 569px;
        flex-direction: column;
        gap: 100px;
        margin: 0 clamp(10px, 10vw, 70px);
    }

    .Not-only {
        margin-bottom: 0;
        padding: 0 54px;
    }

    .make-a-friend {
        align-self: center;
    }

    .start-puppy {
        width: clamp(200px, 75vw, 569px);
        align-self: normal;
        margin: 0 0 0 clamp(1px, 5vw, 70px);
    }

    .box-our-friends {
        max-width: 708px;
    }

    .header-main {
        max-width: 708px;
    }

    .help-main {
        padding: 80px 69px 100px 69px;
    }

    .help {
        max-width: 630px;
    }

    .in-addition-d {
        flex-direction: column;
        gap: 60px;
    }

    .in-addition-s {
        padding: 0;
    }

    .donation-dog {
        order: 1;
        margin: 0 132px 100px 131px;
        width: clamp(300px, 66vw, 505px);
    }

    .help-list {
        gap: 60px;
        row-gap: 55px;
    }

    .help-item {
        width: 170px;
        height: 113px;
    }

    .about-d {
        padding: 74px clamp(35px, 10vw, 166px) 100px clamp(35px, 10vw, 166px);
    }

    .pet-card {
        gap: 40px;
        justify-content: center;
    }

    div.text-donat {
        margin: 80px 194px 0 194px;
    }

    .you-can {
        font-size: clamp(25px, 5vw, 35px);
    }

    .card {
        font-size: clamp(15px, 3vw, 20px);
    }

}

@media (max-width: 767px) {

    .hamburger-menu {
        display: block;
        z-index: 15;
    }

    .hamburger {
        transition: transform 0.4s ease;
    }

    .nav-link-off {
        text-underline-offset: 15px;
    }

    .nav-list {
        position: fixed;
        flex-direction: column;
        right: -100%;
        top: 0;
        background: rgb(41, 41, 41);
        width: 243px;
        padding: 250px 38px 246px 38px;
        margin: 0;
        gap: 40px;
        z-index: 10;
        transition: right 1s ease;
        height: 100vh;
    }

    .nav-list.active {
        right: 0;
    }

    .overlay {
        opacity: 0;
        transition: opacity 1s ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .overlay.active {
        opacity: 1;
    }

    .nav-link {
        font-size: 32px;
    }

    .nav-link-off {
        font-size: 32px;

    }

    header {
        padding: 30px 20px;
    }

    .not-only-h1 {
        font-size: clamp(25px, 4vw, 44px);
    }

    .xz {
        margin: 0;
    }

}

@media (max-width: 400px) {


    .pet-card {
        order: 1;
    }

    .arrow-left {
        order: 0;
    }

    .arrow-right {
        order: 0;
    }

    .friends {
        flex-direction: column-reverse;
    }

    .help-list {
        justify-content: center;
    }

}

@media (max-width: 320px) {

    div.not-only {
        margin: 0 10px;
        gap: 105px;
    }

    .xz {
        gap: 75px;
    }

    .Not-only {
        padding: 0;
        max-width: 300px;
        align-items: center;
    }

    .start-puppy {
        margin: 0 0 0 50px;
        width: 260px;
    }

    .about-d {
        padding: 42px 10px;
    }

    .about-s {
        max-width: 300px;
        gap: 42px;
    }

    .pet-card {
        order: -1;
    }

    .arrow-left {
        order: 0;
    }

    .friends {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
        row-gap: 20px;
    }

    .about-pets {
        margin: 0 20px;
        width: clamp(260px, 8.9vw, 300px);
    }

    .in-addition-d {
        max-width: 300px;
        margin: 0;
        gap: 42px;
    }

    div.text-donat {
        margin: 0;
        max-width: 300px;
        align-items: center;
    }

    .card {
        font-size: 15px;
    }

    .pet-card .pets-item:nth-child(2) {
        display: none;
    }

    .box-our-friends {
        max-width: 300px;
        gap: 42px;
    }

    .help {
        max-width: 290px;
        gap: 42px;
    }

    .help-item {
        height: 87px;
        width: 130px;
        gap: 20px;
    }

    .help-main {
        padding: 40px 15px;
    }

    .help-list {
        gap: 30px;
        row-gap: 30px;
        max-width: 290px;
        justify-content: start;
    }

    .help-item > img {
        width: 50px;
        height: 50px;
    }

    .help-item > h4 {
        font-size: 15px;
    }

    .donation-dog {
        width: 260px;
        margin: 0;
    }

    .in-addition-s {
        padding: 42px 10px;
    }

    .not-only-h1 {
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        max-width: 250px;
    }

    .header-box {
        padding: 0;
    }


    .header-main {
        padding: 30px 20px 0 20px;
        max-width: 300px;
    }

    .not-only-p {
        text-align: center;
    }

    .about-text {
        text-align: center;
        align-items: center;
        gap: 22px;
    }

    .about-cozy {
        font-size: 25px;
        max-width: 250px;
    }

    .first-p {
        margin: 0 15px;
        text-align: justify;
    }

    .second-p {
        margin: 0 15px;
        text-align: justify;

    }

    .our-title {
        font-size: 25px;
    }

    .main-our-friends {
        padding: 42px 10px;
    }

    .help-title {
        font-size: 25px;
        max-width: 250px;
    }

    .you-can {
        font-size: 25px;
        text-align: center;
    }

    .bank {
        letter-spacing: 0;
    }

    .dark-m {
        text-align: justify;
        padding: 0 10px;
    }

}





