@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/arial-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgia-regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    cursor: url('../icon/icon-normal.png'), auto;
}

button.disables {
    cursor: url('../icon/icon-disable.png'), auto;
}

.pets-item:hover .learn-more {
    background: rgb(253, 220, 196);
}

.pet-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 40px;
    row-gap: 30px;
}

.pets-item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background: rgb(250, 250, 250);
    gap: 30px;
}

.pets-item:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item > img {
    width: 270px;
    height: 270px;
}

.name-pet {
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;
}

button.on {
    background: rgb(241, 205, 179);
}

.learn-more {
    box-sizing: border-box;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 45px 15px 45px;
    width: 187px;
    height: 52px;
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
    white-space: nowrap;
    background: none;
}

.friends-main {
    padding: 80px 40px 100px 40px;
    background-color: rgb(246, 246, 246);
    background-size: cover;
    background-position: center;
}

.friend-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    row-gap: 55px;
    margin: 0 auto;
}

.friend-nav {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-top: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 19px 23px 19px;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
    background: none;
    color: rgb(41, 41, 41);
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
}

.nav-item:hover {
    background: rgb(253, 220, 196);
}

.nav-item:active {
    background: rgb(241, 205, 179);
}

.off {
    border: 2px solid rgb(205, 205, 205);
    color: rgb(205, 205, 205);
    background: none;
}

.off:hover {
    background: none;
}

.title-h3 {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: rgb(84, 84, 84);
    font-family: Georgia, serif;
    letter-spacing: 0.06em;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
}

.friends-title {
    white-space: nowrap;
}

.cursor {
    cursor: url('../icon/icon-hover.png'), auto;
    transition: background 1s ease;
}

#popup-overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    position: relative;
    border-radius: 9px;
}

.popup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    width: 900px;
    height: 500px;
    border-radius: 9px;
}

.popup-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 350px;
    color: rgb(0, 0, 0);
    font-family: Georgia, serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 50px 20px 88px 29px;

}

#popup-name {
    font-size: 35px;
    line-height: 130%;
    margin: 0 0 10px 0;
}

#popup-breed {
    font-size: 20px;
    line-height: 115%;
    margin: 0;
}

#popup-description {
    font-size: 15px;
    line-height: 110%;
    margin: 40px 0;
}

.close-btn {
    position: absolute;
    right: -40px;
    top: -55px;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {

}

.popup-info > ul > li::marker {
    color: rgb(241, 205, 179);
}

.popup-info > ul > li {
    font-size: 15px;
    line-height: 110%;
}

.popup-info > ul {
    margin: 0;
}

.popup-img {
    width: 500px;
}


@media (max-width: 768px) {
    .friend-box {
        max-width: 708px;
        margin: 20px 64px 0 64px;
        gap: 25px;
    }

    .friend-nav {
        margin-top: 20px;
        gap: clamp(10px, 2.23vw, 20px);
    }

    .friends-main {
        padding: 60px 30px 70px 30px;
    }

}

@media (max-width: 320px) {
    .friend-box {
        max-width: 300px;
        gap: 42px;
        margin: 0;
    }

    .friends-main {
        padding: 42px 10px 42px 10px;
    }

    .title-h3 {
        font-size: 25px;
    }

    .friend-nav {
        gap: 10px;
        margin-top: 0;
    }

    .pet-card {
        gap: 30px;
        justify-content: center;
    }

}